<!DOCTYPE html>
<html>
  <head>
    <title>Test Search App</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <h1>{{page_title}}</h1>
    {% for doc in docs %}
    <div class="well">
      <div class="row">
        <div class="col-md-6">
            <h3>Top 10 Users</h3>
            <ul>
            {% for user in users %}
            <li>{{user.name}} -- {{user.contribs}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Top Topics</h3>
            <ul>
            {% for topic in topics %}
            <li>{{topic}}</li>
            {% endfor %}
            </ul>
        </div>
      </div>

    </div>
    {% endfor %}
    </div>
  </body>
</html>
