<!DOCTYPE html>
<html>
  <head>
    <title>Test Search App</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a> Most Authoritative Topics</h1>
    <h2>{{ wiki_api_data['title'] }}</h2>
    {% for topic in topics %}
    <div class="well">
      <div class="row">
        <div class="col-md-3 wiki-image">
            <h3>{{ topic.topic }}</h3>
            <h4>Authority</h4>
            <em>{{ topic['authority'] }}</em>
        </div>
        <div class="col-md-9 content-wrapper">
            <div class="row">
                {%  if topic.authors %}
                <div class="row"><h4>Top Authors</h4></div>
                <div class="row">
                    {% for author in topic.authors %}
                    <div class="col-xs-2">
                        <div class="row" style="max-height: 50px;">
                            <img src="{{ author['avatar'] }}" style="max-height:50px" alt="" />
                        </div>
                        <div class="row">
                            {{ author['name'] }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
              </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </body>
</html>
