<!DOCTYPE html>
<html>
  <head>
    <title>Test Search App</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/wiki_autocomplete.js"></script>
    <h1>Authority App</h1>
    <div class="well">
      <div class="row" id="wiki-picker">
          <form action="#">
              <input id="wiki-text-picker" class="typeahead" type="text" placeholder="Pick a wiki">
              <button id="wiki-pages" type="submit" class="btn btn-default">Articles</button>
              <button id="wiki-topics" type="submit" class="btn btn-default">Topics</button>
              <button id="wiki-users" type="submit" class="btn btn-default">Users</button>
              <a id="wiki-excel" href="#" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-th-list"></span> Full Report</a>
          </form>
      </div>
        <div class="row" id="user-search">
          <form action="#">
              <input id="user-search-text" type="text" placeholder="Search for a user">
              <button id="user-pages" type="submit" class="btn btn-default">Articles</button>
              <button id="user-topics" type="submit" class="btn btn-default">Topics</button>
              <button id="user-wikis" type="submit" class="btn btn-default">Wikis</button>
          </form>
      </div>
      <div class="row" id="topic-search">
          <form action="#">
              <input id="topic-search-text" type="text" placeholder="Search for a topic">
              <button id="topic-pages" type="submit" class="btn btn-default">Articles</button>
              <button id="topic-users" type="submit" class="btn btn-default">Users</button>
              <button id="topic-wikis" type="submit" class="btn btn-default">Wikis</button>
          </form>
      </div>
    </div>
    <script type="text/javascript">
        var wiki_names = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: $.map(Object.keys(wikis), function(wiki) { return { value: wiki }; })
        });
        wiki_names.initialize();
        $(document).ready(function() {
            $('#wiki-picker .typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 1
            },
            {
              name: 'wikis',
              displayKey: 'value',
              source: wiki_names.ttAdapter()
            });

            $('#wiki-picker form button').on('click', function(){
                var dom = $(this);
                dom.closest('form').attr('action', '/wiki/'+wikis[$("#wiki-text-picker").val()]
                        +'/'+dom.attr('id').replace('wiki-', '')+'/');
            });

            $('#topic-search button').on('click', function(){
                var dom = $(this);
                dom.closest('form').attr('action', '/topic/'+$('#topic-search-text').val()+'/'
                            +dom.attr('id').replace('topic-', '')+'/');
            });

            $('#user-search button').on('click', function(){
                var dom = $(this);
                dom.closest('form').attr('action', '/user/'+$('#user-search-text').val()+'/'
                            +dom.attr('id').replace('user-', '')+'/');
            });

            $('#wiki-excel').on('click', function(e) {
                var wiki_id = wikis[$("#wiki-text-picker").val()];
                if (typeof(wiki_id) == 'undefined') {
                    alert("Please pick a wiki");
                    e.preventDefault()
                    return false;
                } else{
                    $(this).attr('href', '/wiki/'+wiki_id+'/xls')
                }
            });
        });
    </script>
  </body>
</html>
