<!DOCTYPE html>
<html>
  <head>
    <title>Test Search App</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/wiki_autocomplete.js"></script>
    <h1>Authority App</h1>
    <div class="well">
      <div class="row" id="wiki-picker">
          <form action="#">
              <input id="wiki-text-picker" class="typeahead" type="text" placeholder="Pick a wiki">
              <button id="articles" type="submit" class="btn btn-default">Articles</button>
              <button id="topics" type="submit" class="btn btn-default">Topics</button>
              <button id="users" type="submit" class="btn btn-default">Users</button>
          </form>
      </div>
    </div>
    <script type="text/javascript">
        var wiki_names = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: $.map(Object.keys(wikis), function(wiki) { return { value: wiki }; })
        });
        wiki_names.initialize();
        $(document).ready(function() {
            $('#wiki-picker .typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 1
            },
            {
              name: 'wikis',
              displayKey: 'value',
              source: wiki_names.ttAdapter()
            });

            $('#wiki-picker form button').on('click', function(){
                var dom = $(this);
                alert('/wiki/'+wikis[$("#wiki-text-picker").val()]+'/'+dom.id+'/');
                dom.attr('action', '/wiki/'+wikis[$("#wiki-text-picker").val()]+'/'+dom.id+'/');
            });
        });
    </script>
  </body>
</html>
