<!DOCTYPE html>
<html>
  <head>
    <title>Test Search App</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a> Most Authoritative Pages</h1>
    <h2>{{ wiki_title }}</h2>
    {% for doc in pages %}
    <div class="well">
      <div class="row">
        <div class="col-md-3 wiki-image">
           <a href="{{ wiki_url }}{{doc['url']}}"><img class="img-thumbnail" src="{{ doc['thumbnail'] }}" alt=""/></a>
        </div>
        <div class="col-md-9 content-wrapper">
          <div class="row">
            <div class="row">
              <h3 style="text-align: left;"><a href="{{ wiki_url }}{{doc['url']}}">{{ doc['title'] }}</a></h3>
            </div>
            <div class="row">
                <h4>Authority</h4>
                <em>{{doc['authority']}}</em>
                <ul>
                    <li><a href="/page/{{wiki_id}}/{{doc['id']}}/topics/">View Topics</a></li>
                    <li><a href="/page/{{wiki_id}}/{{doc['id']}}/users/">View Users</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </body>
</html>
